@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;

}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(206, 206, 206);
    padding: 8px 0px 15px 0px;
}
    header h2::before {
        content: url(imagens/gps_26x26.png);
        margin-right: 12px;
    }
    header h2 {
        color: red;
        font-size: 1.56em;
        font-weight: normal;
        text-indent: 10px;

    }
    div#busca {
        content: url(imagens/icone-de-pesquisa-25x25.png);
        position: absolute;
        top: 1.9%;
        right: 1.1%;
    }
