@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,600&display=swap');

:root {
    --fonteprincipal: 'Raleway'
}

* {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
    text-align: center;
}


body {
    font-family: var(--fonteprincipal);
    background-color: rgb(242, 242, 242);
}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 255, 255);
    padding: 8px 0px 14px 0px;
}
    header h2::before {
        content: url(imagens/gps_26x26.png);
        margin-right: 12px;
    }
    header h2 {
        color: red;
        font-size: 1.56em;
        font-family: var(--fonteprincipal);
        font-weight: 500;
        text-indent: 10px;

    }
    div#busca {
        content: url(imagens/icone-de-pesquisa-25x25.png);
        position: absolute;
        top: 1.9%;
        right: 1.1%;
    }
section {
    height: 83vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.363);
    background-image: url(imagens/london.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 99.99vw 100vh;
    background-attachment: fixed;
}
    section > div#sectionbox {
        height: 255px;
        width: 66vw;
        background-color: white;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
        section > div#sectionbox > div#headercontent {
            height: 36px;
            margin: 0px;
            background-color: black;
            color: white;
            
        }
            section > div#sectionbox > div#headercontent > ul span.spanfhr {
                display: inline-block;
                width: 21.4vw;
                margin: 0px;
                padding: 8px 0.1vw;
                
            }
            section > div#sectionbox > div#headercontent > ul span.spanfhr:hover {
                background-color: rgb(255, 67, 39);
                padding-left: 8px;
                transition-duration: .6s;
            }
                section > div#sectionbox > div#headercontent > ul span.spanfhr {
                    height: 20px;
                    max-width: 21.5vw;  
                    font-size: .935em;
                    font-weight: 400;
                    letter-spacing: .3px;
                }
                section > div#sectionbox > div#headercontent > ul > span.spanfhr > li#flight::before {
                    content: url(imagens/plane17x17.png);
                    margin-left: -18px;
                    margin-right: 18px;
                    vertical-align: top;
                }
                section > div#sectionbox > div#headercontent > ul > span.spanfhr > li#hotel::before {
                    content: url(imagens/bed17x17.png);
                    margin-left: -18px;
                    margin-right: 18px;
                    vertical-align: top;
                }
                section > div#sectionbox > div#headercontent > ul > span.spanfhr > li#rental::before {
                    content: url(imagens/car17x17.png);
                    margin-left: -18px;
                    margin-right: 18px;
                    vertical-align: top;
                }
                
                
    section div h2{
        margin: 20px;
        font-family: var(--fonteprincipal);
        font-size: 1.7em;
        font-weight: 300;
        text-shadow: -0.5px 0.9px 1px rgba(255, 102, 0, 0.315);
    }
    section div#sectionbox h4 {
        display: inline-block;
        margin: 0px 44.5% 7px 0px;
        color: rgb(0, 0, 0);
        text-indent: 0px;
        font-weight: 400;
        position: relative;
        left: 2.5%;
    }
    section div#sectionbox div.from {
        height: 4.7vh;
        width: 31vw;
        position: absolute;
        top: 22vh;
        left: 1.4vw;
        border: 1px solid rgba(0, 0, 0, 0.295);
    }
    section > div#sectionbox > div.to {
        height: 4.7vh;
        width: 31vw;
        position: absolute;
        top: 22vh;
        left: 34vw;
        border: 1px solid rgba(0, 0, 0, 0.295);
    }
    section > div#sectionbox > div > p {
        color: rgba(0, 0, 0, 0.541);
        position: relative;
        top: 50%;
        left: 2%;
        transform: translate(0%, -55%);
    }
    section > div#sectionbox > div.botaocinza {
        height: 6vh;
        width: 13.25vw;
        padding: 1px;
        background-color: rgb(92, 92, 92);
        position: absolute;
        left: 2%;
        bottom: 10%;
    }
    section > div#sectionbox > div.botaocinza:hover {
        height: 6.25vh;   
        width: 13.3vw;
        transition-duration: .6s;
        background-color: rgb(39, 39, 39);
        font-size: 1em;
        font-weight: normal;
        text-shadow: 0.2px 0.2px 1px white;
    }
    section > div#sectionbox > div.botaocinza p {
        margin-left: -4.5%;
        color: white;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: .95em;
    }


    main {
        height: 166.7vh;
        width: 100%;
    }
    main h2, h4 {
        margin: 2.25% 11%;
        text-shadow: -0.5px 0.9px 1px rgba(255, 102, 0, 0.315);
        font-weight: 400;
    }
    

    main > picture img {
        margin: -20px 0px  0px 11%;
    }
        main > picture img#cinqueterre {
            height: 61vh;
            width: 38.3%;
        }
    main > picture > div#imagescontainer {
        height: 61vh;
        width: 39vw;
        position: absolute;
        top: 110.4%;
        right: 9.92%;
        
    }
        main > picture > div#imagescontainer img {
            height: 29vh;
            width: 18.35vw;
            margin: 6px 6px 6px 6px;
            position: relative;
            top: 25%;
            left: 9%;
            transform: translate(-22.5%, -55%);
        }
        main > picture > p#legendacinqueterre {
            color: white;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.781), transparent 95%);
            padding: 1px 50px 1px 20px;
            font-weight: normal;
            font-size: 1.2em;
            position: absolute;
            top: 166.5vh;
            left: 10.8vw;
        }
        main > picture > div#imagescontainer > p.legendany {
            color: white;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.781), transparent 95%);
            padding: 1px 35px 1px 20px;
            font-weight: normal;
            font-size: 1.2em;
            position: absolute;
            top: 40%;
            left: -0.55%;
        }
        main > picture > div#imagescontainer > p.legendasf {
            color: white;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.781), transparent 95%);
            padding: 1px 50px 1px 20px;
            font-weight: normal;
            font-size: 1.2em;
            position: absolute;
            top: 40%;
            left: 49.56%;
        }
        main > picture > div#imagescontainer > p.legendapisa {
            color: white;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.781), transparent);
            padding: 1px 25px 1px 20px;
            font-weight: normal;
            font-size: 1.2em;
            position: absolute;
            top: 91.5%;
            left: -0.55%;
        }
        main > picture > div#imagescontainer > p.legendaparis {
            color: white;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.945), transparent 85%);
            padding: 1px 25px 1px 20px;
            font-weight: normal;
            font-size: 1.2em;
            position: absolute;
            top: 91.5%;
            left: 49.57%;
        }
        
        main > p#pdaspaisagens {
            position: absolute;
            left: 11%;
            font-size: 0.97em;
            font-weight: 400;
            text-shadow: -0.5px 0.9px 1px rgba(255, 102, 0, 0.315);
        }
        main > div {
            position: absolute;
            left: 11%;
            transform: translate(0%, 13.6%);
        }
            main > div > div {
                height: 70vh;
            }
                main > div > div > img.paisagens {
                    display: inline-block;
                    height: 41vh;
                    width: 37.8vw;
                    margin: 0px 0px 0px 0px;
                    background-color: transparent;
                    background-position: center bottom;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-attachment: fixed;
                }
            main > div > div#divdooceano {
                position: relative;
                left: 0%;
                background-color: white;
                transform: translateY(-18%);
            }
            main > div > div#divdamontanha {
                position: relative;
                left: 103%;
                transform: translateY(-118%);
                background-color: white;
            }
            main > div > div > h2.h2paisagens {
                text-indent: -39px;
            }
                main > div > div > p {
                    text-indent: 15px;
                    font-size: 0.9em;
                }
                    main > div > div > p.legendadaspaisagens {
                        color: gray;
                    }
                        main > div > div > p.textodaspaisagens {
                            margin-top: 18px;
                        }
                        main > div > div > p.buytickets {
                            margin-top: 24px;
                            text-indent: 35px;             
                        }
            
    footer {
        height: 600px;
        width: 100%;
        margin: 0px;
        color: black;
        position: absolute;
        top: 270%;
        text-indent: 14px;
    }
        footer > div#footerdiv {
            height: 254px;
            width: 77.9%;
            margin: -0.5% auto 0px auto;
            padding: 0px 0px 5px 2px;
            color: white;
            background-color: rgb(78, 77, 80);
        }
        footer > div#footerdiv > h2#offersh2 {
            margin: 0;
            padding-top: 30px;
            font-size: 1.75em;
            letter-spacing: 0.3px;
        }
        footer > div#footerdiv > p#newsletter {
            margin-top: 20px;
            font-size: 0.9em;
        }
        footer > div#footerdiv > form#form-email {
            margin-top: 23px;
        }
        footer > div#footerdiv > form#form-email > input {
            height: 40px;
            width: 96.8%;
            margin-top: 3px;
            margin-left: 13px;
        }
        footer > div#footerdiv > form#form-email > input::placeholder {
            color: rgb(177, 177, 177);
            font-size: 1.15em;
            text-indent: 7px;
        }
        footer > div#footerdiv > form#form-email > button {
            height: 40px;
            width: 105px;
            margin-top: 13px;
            margin-left: 13px;
            background-color: rgb(255, 125, 125);
            color: white;
            border: 0px solid transparent;
            font-size: 1em;
        }
        footer > div#divff {
            margin-top: 35px;
            margin-left: 10%;
            color: black;
        }
        footer > div#divff > h2#contacth2 {
            margin-bottom: 22px;
            font-size: 1.83em;
            font-weight: normal;
        }
        footer > div#divff > ul {
            margin-top: 18px;
            margin-left: 0px;
            color: black;
        }
            footer > div#divff > ul > li {
                text-align: start;
            }
            footer > div#divff > ul > li::before {
                content: url(imagens/gps16².png);
                margin-right: 21px;
            }
            footer > div#divff > ul > li#gps::before {
                margin-right: 26px;
                margin-left: 1px;
            }
            footer > div#divff > ul > li#phone::before {
                content: url(imagens/telefone16².png);
                margin-right: 22px;
            }
            footer > div#divff > ul > li#email::before {
                content: url(imagens/email16².png);
            }
        footer > div#divff > form#formff {
            height: 280px;
            width: 1050.86px;
        }
            footer > div#divff > form#formff > input {
                height: 50px;
                width: 1050.86px;
                margin-top: 18px;
                color: rgba(128, 128, 128, 0.753);
            }
            footer > div#divff > form#formff > input::placeholder {
                font-size: 1.2em;
                color: rgb(173, 173, 173);
                text-indent: 8px;
            }
            footer > div#divff > form#formff > input#emailff {
                margin-left: 14.5px;
            }
            footer > div#divff > form#formff > input#mensagemff {
                margin-left: 14.5px;
            }
            footer > div#divff > form#formff > input#inputbutton {
                width: 150px;
                margin-left: 13px;
                color: white;
                background-color: black;
            }
            footer > div#divff > form#formff > input#inputbutton:hover {
                background-color: rgb(0, 0, 65);
                transition-duration: .5s;
                border: none;
            }
        footer > div#lastdiv {
            color: gray;
            font-size: 0.9em;
            text-align: center;
            margin: 20px;
        }
        footer > div#lastdiv > h3 {
            font-size: 1.3em;
            font-weight: normal;
        }
        footer > div#lastdiv > nav#navlastdiv {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        